*{
    font-family: cursive;
}
body{
    background-image: url("/images/cart-bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    display: flex;
    text-decoration: underline rgb(239, 8, 8);
    justify-content: center;
    margin-top: -20px;
}
.cart-item {
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  justify-content: space-between;
    }
.total {
  font-weight: bold;
  margin-top: 20px;
}
.home-btn{
    font-size: 50px;
    margin-left: 3%;
}
.home-btn a{
    color: black;
    text-decoration: none;
}