* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}


body {
  background-image: url("/images/img\ sports.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.header a img{
  height: 100px;
  position: relative;

}


.signup-container {
  background: #fff;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  width: 350px;
}

.form-box {
  display: flex;
  flex-direction: column;
}

.form-title {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  color: #333;
}

.form-label {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  color: #555;
}

.form-input {
  padding: 10px;
  margin-bottom: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: border 0.3s;
}

.form-input:focus {
  border-color: #74ebd5;
  outline: none;
}

.submit-btn {
  background: #74ebd5;
  color: #fff;
  padding: 12px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.submit-btn:hover {
  background: #4dc0b5;
}
p{
  display: flex;
  justify-content: center;
  padding: 12px;
}
p a{
  margin-left: 4px;
  text-decoration: none;
}
p a:hover{
  text-decoration: underline;
  transform: scale(1.1);
}